<html><body><script type="text/javascript">
	top.location.href='http://www.facebook.com/dialog/oauth?client_id=<%=@facebook_signed_request.app_id-%>&redirect_uri=<%=@facebook_signed_request.url-%>';
</script></body></html>